{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autism Prediction</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylele.css' %}">
    
    
    <!--linked with css-->
</head>
<body>
    <div class="full-page">
        <div class="navbar">
        <div>
        <a href='#'>Autism Prediction</a>
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="#">HOME</a></li>
                <li><a href="/predictor">PREDICTION</a></li>
                <li><a href="/questions">QUESTIONS</a></li>
                 <!--creating login form 
                 <li><a href="#">DESIGN</a></li>
                ------------------------>
    
                <li><a href="/contact">CONTACT</a></li>
               <!-- <li><button class="loginbtn" 
                onclick="document.getElementById('login-form').style.display='block'"
            style="width: auto;">LOGIN</button>
        </li>-->
    </ul>
</nav>
</div>
<div class="main">
  <div class="content">
      <h1>Welcome to <br>Our Autism <br>Website</h1>
      <p class="par">“Autism is like a rainbow. It has a bright side and a darker side.<br>
          But every shade is important and beautiful.” — Rosie Tennant Doran.
      </p>
      <button class="cn"><a href="#">JOIN US</a></button>

  </div>
</div>

<!-- 
<div class="search">
    <input class="srch" type="search" name="" placeholder="Type To Text">
    <a href="#"> <button class="bt">Search</button></a>
</div>
<div class="content">
<h1>Web Design & <br><span>Development</span> <br>Course</h1>
            <p class="par">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum qui nemo<br>vitae quo, 
                odit molestias, itaque asperiores inventore recusandae corrupti,<br> perspiciatis reiciendis ipsum et.
                eum modi quia quae inventore.</p>
                <button class="cn"><a href="#">JOIN US</a></button>
                </div>

onno web page er jiinish end-->


<!--<div id="login-form" class="login-page">
    <div class="form-box">
        <div class="button-box"> 
            <div id="btn"></div>
            <button
            type="button" onclick="login()" 
            class="toggle-btn">Log In</button>
            <button
            type="button" onclick="register()" 
            class="toggle-btn">Register</button>
            </div>

           
                <form id="login" class="input-group-login">
                    <input type="text" class="input-field" placeholder="Email Id"
                    required>

                    <input type="password" class="input-field" placeholder="Enter Password"
                    required>

                    <input type="checkbox" class="check-box"><span>Remember Password</span>
                    <button type="submit" class="submit-btn">Log In</button>
                    </form>

            
                    <form id="register" class="input-group-register">
                        <input type="text" class="input-field" placeholder="First Name"
                        required>
    
                        <input type="text" class="input-field" placeholder="Last Name"
                        required>

                        <input type="email" class="input-field" placeholder="Email Id"
                        required>
    
                        <input type="password" class="input-field" placeholder="Enter Password"
                        required>

                        <input type="password" class="input-field" placeholder="Confirm Password"
                        required>

                        <input type="checkbox" class="check-box"><span>I agree to the terms and 
                            conditions</span>
                    <button type="submit" class="submit-btn">Register</button>
                    </form>
    </div>
</div>
</div>
<script>
    var x=document.getElementById('login');
    var y=document.getElementById('register');
    var z=document.getElementById('btn');

    function register()
    {
        x.style.left= '-400px';
        y.style.left= '50px';
        z.style.left= '110px';
    }

    function login()
    {
        x.style.left= '50px';
        y.style.left= '450px';
        z.style.left= '0px';
    }
</script>

<script>
    var modal = document.getElementById('login-form');
    window.onclick = function(event)
    {
        if(event.target == modal)
        {
            modal.style.display = "none";
        }
    }
</script> -->                     

<!--<footer class="bg-dark text-center text-white">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i
      ></a>
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Al Right Reserved:
    <a class="text-white" href="#">AutismPredictor.com</a>
  </div>
</footer>-->
</body>
</html>